.gamepage {
  background: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gamestart-form {
  display: flex;
  flex-direction: column;
  width: 67%;
  padding: 35px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: rgb(255, 227, 227);
  border-radius: 15px;

}


#current-score {
  /* font-family: fantasy; */
  font-size: 45px;
  padding-bottom: 5px;
  margin-top: 10px;
  border-bottom: 5px solid black;
  display: none;
}

.gamestart-form p {
  display: none;
}
/* #current-score-holder {
  display: none;
} */

.game-question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 35px;
  padding-bottom: 5px;
  border-top: 1px solid black;
  margin-top: 0px;
  padding-top: 0px;
}

.game-question h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-style: italic;
  margin-bottom: 15px;
  font-weight: 500;
  padding-top: 0px;
  margin-top: 10px;
}

.game-answer {
  display: flex;
  /* justify-content: space-evenly; */
  width: 100%;
  flex-wrap: wrap;
  margin-left: 30px;

}

.game-answer button {
  margin-right: 15px;
  padding: 15px 8px;
  border-radius: 6px;
  min-width: 170px;
  font-size: 17px;
  border: 1px solid black;
  background: rgb(252, 238, 238);
  outline: none;
  cursor: pointer;
}

.game-answer button:hover {
  background: black;
  color: white;
}

.game-submit {
  display: flex;
  align-items: center;
  width: 250px;
  padding: 25px;
  font-size: 20px;
  color: white;
  background: black;
  outline: none;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.game-submit2 {
  text-decoration: none;
  /* display: flex; */
  align-items: center;
  width: 200px;
  padding: 22px;
  font-size: 20px;
  color: white;
  background: black;
  outline: none;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  display: none;
}

.game-submit-holder {
  display: flex;
  justify-content: center;
}


