.homepage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.link-to-createform {
  
}

.link-to-myforms {

}

#homepage-link {
  outline: none;
}

.form-index {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-bottom: 30px;
  background: plum;
  
}

.form-index h1 {
  margin: 5px;
}

.form-index-forms {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
}

.form-index-form {
  display: flex;
  flex-direction: column;
  background: pink;
  margin-left: 10px;
  margin: 5px;
  margin-right: 10px;
  padding: 15px;
}