.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  min-height: 100vh;
  padding-top: 40px;
}

.create-form h1 {
  font-family: fantasy;
  font-size: 50px;
  color: white;
}

.create-form form {
  padding: 60px 90px;
  background: rgb(255, 227, 227);
  border-radius: 15px;

}

.create-form input {
  outline: none;
  border: 1px solid black;
  padding: 14px;
  margin: 10px;
  font-size: 20px;
  border-radius: 10px;
  background: rgb(250, 234, 234);
  margin-bottom: 20px;
}

#submit-create input {
  background: black;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 84px;
  margin-top: 15px;
}

/* drop */
select {
margin-left: 38px;
padding:12px;
margin-top:8px;
line-height:1;
border-radius:5px;
width: 165px;
font-size:20px;
-webkit-appearance:none;
box-shadow:inset 0 0 10px 0 rgba(253, 1, 1, 0.6);
outline:none
}
.create-or{
 /* background-color: red; */
 margin-left: 110px;
 margin-top: 10px;
}