.create-form {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  background: black;
  height: 100vh;
  padding-top: 50px;
}

.create-form h1 {
  font-family: fantasy;
  font-size: 50px;
  color: white;
}

.create-form form {
  padding: 100px;
  background: rgb(250, 234, 234);
  border-radius: 15px;
}

.create-form input {
  outline: none;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  font-size: 20px;
  border-radius: 10px;
  
}