.form-index {
  display: flex;
  flex-direction: column;
  /* margin: 20px; */
  padding-bottom: 30px;
  /* background: plum; */
  margin-top: 20px;
}

.form-index h2 {
  font-family: fantasy;
  font-size: 35px;
  margin-bottom: 8px;
  color: rgb(252, 238, 240);
}

.form-item {
  display: flex;
  flex-wrap: wrap;
}

#link-forms {
  color: black;
}

.form-index-form {
  display: flex;
  flex-direction: column;
  background: rgb(255, 227, 227);
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 20px;
  border-radius: 10px;
  min-width: 200px;
  cursor: pointer;
}

.form-index-form strong {
  font-size: 25px;
  margin-bottom: 8px;
}

.form-index-form div {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
}

.form-item a{
  text-decoration: none;
}
