.form-index {
  display: flex;
  flex-direction: column;
  /* margin: 20px; */
  padding-bottom: 30px;
  /* background: plum; */
  margin-top: 40px;
}

.form-index h2 {
  font-family: fantasy;
  font-size: 35px;
  margin-bottom: 8px;
  color: pink;
}

.form-item {
  display: flex;
  flex-wrap: wrap;
}

.form-index-form {
  display: flex;
  flex-direction: column;
  background: pink;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 20px;
  border-radius: 10px;
  min-width: 220px;
  cursor: pointer;
}

.form-index-form strong {
  font-size: 25px;
  margin-bottom: 8px;
  
}

.form-index-form div {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
}

.form-item a{
  text-decoration: none;
}
