.user-form-out {
  display: flex;
  background: black;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;

}

.user-form-out h1 {
  color: white;
  color: rgb(231, 150, 150);
  font-family: fantasy;
  font-size: 40px;
  margin-top: 60px;
  
}

#user-form-header {
  display: flex;
  align-items: center;
}

.back-btn {
  text-decoration: none;
  padding: 10px;
  background: rgb(255, 227, 227);
  color: black;
  border-radius: 12px;
  margin-top: 20px;
  margin-left: 40px;
}


